<form class="{{cssClass}}" autocomplete="off">

    <div class="sheet-wrapper">
      <button style="display: none;">Input Button Click bypass</button>
        {{!-- Sheet Header --}}
        <header class="sheet-header">
            <div class="sheet-header__fields">
                <input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>

                <div class="flex-item flex-item--level">
                    <label for="system.atributes.level.value">{{localize "KG.LEVEL"}}</label>
                    <input name="system.attributes.level.value" type="text" value="{{system.attributes.level.value}}" placeholder="Level" data-dtype="Number"/>
                </div>
                <div class="flex-item--xp flex-item ">
                    <label for="system.attributes.xp.value">{{localize "KG.XP"}}</label>
                    <input name="system.attributes.xp.value" type="text" value="{{system.attributes.xp.value}}" placeholder="XP" data-dtype="Number"/>
                </div>

            </div>
        </header>

        <section class="sheet-main">

          <section class="sheet-attributes">
            <div class="cell cell--detail">
              <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
            </div>

            <div class="cell cell--basic">
              <section class="sheet-basic">
                <div class="cell cell--hp">
                  <label for="system.attributes.hp.value" class="hp-label cell--title">{{localize "KG.HP"}}<i class="fas fa-heart attribute-icon"></i></label>
                  <div class="cell--counter">
                    <input type="text" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}" data-dtype="Number"/>
                    <span class="slash"> / </span>
                    <input type="text" value="{{system.attributes.hp.max}}" data-dtype="Number" disabled/>
                  </div>
                </div>
                <div class="cell cell--spirit">
                  <label for="system.attributes.spirit.value" class="spirit-label cell--title">{{localize "KG.Spirit"}}<i class="fas fa-yin-yang attribute-icon"></i></label>
                  <input type="text" name="system.attributes.spirit.value" value="{{system.attributes.spirit.value}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--damage">
                  <label for="system.attributes.damage.high" class="cell--title rollable--damage" data-formula="{{system.attributes.damage.high}}*{{system.attributes.damage.rank}}+{{system.attributes.damage.add}}">{{localize "KG.Damage"}}<i class="fas fa-dice attribute-icon"></i></label>
                  <table>
                    <colgroup>
                      <col style="width: 80%">
                      <col style="width: 20%">
                    </colgroup>

                    <tr>
                      <td>
                        <div class="cell--counter">
                          <input type="text" name="system.attributes.damage.high" value="{{system.attributes.damage.high}}" data-dtype="Number" style="margin: 0" {{#if system.attributes.damage.auto}} disabled {{/if}}/>
                          <span class="slash"> X </span>
                          <input type="text" name="system.attributes.damage.rank" value="{{system.attributes.damage.rank}}" data-dtype="Number" style="margin: 0" {{#if system.attributes.damage.auto}} disabled {{/if}}/>
                          <span class="slash"> + </span>
                          <input type="text" name="system.attributes.damage.add" value="{{system.attributes.damage.add}}" data-dtype="Number" style="margin: 0" {{#if system.attributes.damage.auto}} disabled {{/if}}/>
                        </div>

                      </td>
                      <td style="text-align: center">
                        <input type="checkbox" name="system.attributes.damage.auto" {{#if system.attributes.damage.auto}} checked {{/if}}>
                      </td>
                    </tr>
                  </table>

                </div>

              </section>
            </div>

            <div class="cell cell--spirit-box">
              <section class="sheet-basic">
                <div class="cell cell--spirit-list">
                  <label for="system.attribute.spirit.value" class="cell--title spirit-dice">{{localize "KG.SpiritDice"}}<i class="fas fa-dice attribute-icon"></i></label>
                  <div class="spirit-list">
                    <span class="fas fa-angle-left dice-holder-icon"></span>
                    {{#each system.attributes.spirit_dice.value}}
                    <img class="dice-image" src="systems/kamigakari/assets/dice/{{this}}.PNG" data-index="{{@index}}" width="45" height="45">
                    <input type="hidden" class="dice-number" name="system.attributes.spirit_dice.value" value="{{this}}" data-dtype="Number" data-index="{{@index}}">
                    {{/each}}
                    <span class="fas fa-angle-right dice-holder-icon"></span>
                  </div>
                </div>

                <div class="cell cell--overflow-label">
                  <label for="system.attributes.overflow.value" class="cell--title">{{localize "KG.Overflow"}}<i class="fas fa-heart attribute-icon"></i></label>
                </div>

                <div class="cell cell--overflow">
                  <div class="cell--counter">
                    <button type="button" class="add--overflow" data-add="-1"> - </button>
                    <input type="text" name="system.attributes.overflow.value" value="{{system.attributes.overflow.value}}" data-dtype="Number"/>
                    <button type="button" class="add--overflow" data-add="+1"> + </button>
                  </div>
                </div>
              </section>
            </div>

            <div class="cell cell--detail">
              <label for="system.attributes.overflow.value" class="cell--title">{{localize "KG.Race"}}
                <div class="item-controls">
                  <button class="item-control item-create white-btn" title='{{localize "KG.RaceCreate"}}' data-type="race">
                    <i class="fas fa-plus" style="color: white;"></i>
                  </button>
                </div>
              
              </label>
              <table>
              {{#each actor.race as |item id|}}
                <tr class="item" data-item-id="{{item._id}}">
                  <td>{{item.name}}</td>
                  <td><a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                </tr>
              {{/each}}

              </table>

              <label for="system.attributes.overflow.value" class="cell--title">{{localize "KG.Style"}}
                <div class="item-controls">
                  <button class="item-control item-create white-btn" title='{{localize "KG.StyleCreate"}}' data-type="style">
                    <i class="fas fa-plus" style="color: white;"></i>
                  </button>
                </div>
              
              </label>
              <table>
              {{#each actor.style as |item id|}}
                <tr class="item" data-item-id="{{item._id}}">
                  <td>{{item.name}}</td>
                  <td><a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                </tr>
              {{/each}}

              </table>
            </div>

            <div class="cell cell--main-stat ">
              <span class="cell--title">{{localize "KG.MainStatus"}}</span>
              <div class="main-ability-list">
                <div class="cell cell--ability" data-ability="str" data-label="{{localize 'KG.AbilitySTR'}}">
                  <label for="system.attributes.str.value" class="cell--title rollable-ability">{{localize "KG.STR"}}
                    <input type="text" class="cell--dice" name="system.attributes.str.dice" value="{{system.attributes.str.dice}}">
                  </label>
                  <input type="text" value="{{system.attributes.str.value}}" data-dtype="Number" disabled/>
                  <input type="text" class="add-circle" name="system.attributes.str.add" value="{{system.attributes.str.add}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability" data-ability="agi" data-label="{{localize 'KG.AbilityAGI'}}">
                  <label for="system.attributes.agi.value" class="cell--title rollable-ability">{{localize "KG.AGI"}}
                    <input type="text" class="cell--dice" name="system.attributes.agi.dice" value="{{system.attributes.agi.dice}}">
                  </label>
                  <input type="text" value="{{system.attributes.agi.value}}" data-dtype="Number" disabled/>
                  <input type="text" class="add-circle" name="system.attributes.agi.add" value="{{system.attributes.agi.add}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability" data-ability="int" data-label="{{localize 'KG.AbilityINT'}}">
                  <label for="system.attributes.int.value" class="cell--title rollable-ability">{{localize "KG.INT"}}
                    <input type="text" class="cell--dice" name="system.attributes.int.dice" value="{{system.attributes.int.dice}}">
                  </label>
                  <input type="text" value="{{system.attributes.int.value}}" data-dtype="Number" disabled/>
                  <input type="text" class="add-circle" name="system.attributes.int.add" value="{{system.attributes.int.add}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability" data-ability="wil" data-label="{{localize 'KG.AbilityWIL'}}">
                  <label for="system.attributes.wil.value" class="cell--title rollable-ability">{{localize "KG.WIL"}}
                    <input type="text" class="cell--dice" name="system.attributes.wil.dice" value="{{system.attributes.wil.dice}}">
                  </label>
                  <input type="text" value="{{system.attributes.wil.value}}" data-dtype="Number" disabled/>
                  <input type="text" class="add-circle" name="system.attributes.wil.add" value="{{system.attributes.wil.add}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability" data-ability="lck" data-label="{{localize 'KG.AbilityLCK'}}">
                  <label for="system.attributes.lck.value" class="cell--title rollable-ability">{{localize "KG.LCK"}}
                    <input type="text" class="cell--dice" name="system.attributes.lck.dice" value="{{system.attributes.lck.dice}}">
                  </label>
                  <input type="text" value="{{system.attributes.lck.value}}" data-dtype="Number" disabled/>
                  <input type="text" class="add-circle" name="system.attributes.lck.add" value="{{system.attributes.lck.add}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability" data-ability="acc" data-label="{{localize 'KG.AbilityACC'}}">
                  <label for="system.attributes.acc.value" class="cell--title rollable-ability">{{localize "KG.ACC"}}
                    <input type="text" class="cell--dice" name="system.attributes.acc.dice" value="{{system.attributes.acc.dice}}">
                  </label>
                  <input type="text" value="{{system.attributes.acc.value}}" data-dtype="Number" disabled/>
                </div>

                <div class="cell cell--ability" data-ability="eva" data-label="{{localize 'KG.AbilityEVA'}}">
                  <label for="system.attributes.eva.value" class="cell--title rollable-ability">{{localize "KG.EVA"}}
                    <input type="text" class="cell--dice" name="system.attributes.eva.dice" value="{{system.attributes.eva.dice}}">
                  </label>
                  <input type="text" value="{{system.attributes.eva.value}}" data-dtype="Number" disabled/>
                </div>

                <div class="cell cell--ability" data-ability="cnj" data-label="{{localize 'KG.AbilityCNJ'}}">
                  <label for="system.attributes.cnj.value" class="cell--title rollable-ability">{{localize "KG.CNJ"}}
                    <input type="text" class="cell--dice" name="system.attributes.cnj.dice" value="{{system.attributes.cnj.dice}}">
                  </label>
                  <input type="text" value="{{system.attributes.cnj.value}}" data-dtype="Number" disabled/>
                </div>

                <div class="cell cell--ability" data-ability="res" data-label="{{localize 'KG.AbilityRES'}}">
                  <label for="system.attributes.res.value" class="cell--title rollable-ability">{{localize "KG.RES"}}
                    <input type="text" class="cell--dice" name="system.attributes.res.dice" value="{{system.attributes.res.dice}}">
                  </label>
                  <input type="text" value="{{system.attributes.res.value}}" data-dtype="Number" disabled/>
                </div>

                <div class="cell cell--ability" data-ability="ins" data-label="{{localize 'KG.AbilityINS'}}">
                  <label for="system.attributes.ins.value" class="cell--title rollable-ability">{{localize "KG.INS"}}
                    <input type="text" class="cell--dice" name="system.attributes.ins.dice" value="{{system.attributes.ins.dice}}">
                  </label>
                  <input type="text" value="{{system.attributes.ins.value}}" data-dtype="Number" disabled/>
                </div>
              </div>

            </div>

            <div class="cell cell--sub-stat">
              <span class="cell--title">{{localize "KG.SubStatus"}}</span>

              <div class="sub-ability-list">

               <div class="cell cell--ability">
                  <label for="system.attributes.pd.value" class="cell--title">{{localize "KG.PD"}}<i class="fas fa-cog attribute-icon"></i></label>
                  <input type="text" value="{{system.attributes.pd.value}}" data-dtype="Number" disabled/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.md.value" class="cell--title">{{localize "KG.MD"}}<i class="fas fa-cog attribute-icon"></i></label>
                  <input type="text" value="{{system.attributes.md.value}}" data-dtype="Number" disabled/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.init.value" class="cell--title">{{localize "KG.Init"}}<i class="fas fa-cog attribute-icon"></i></label>
                  <input type="text" value="{{system.attributes.init.value}}" data-dtype="Number" disabled/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.armor.value" class="cell--title">{{localize "KG.Armor"}}<i class="fas fa-cog attribute-icon"></i></label>
                  <input type="text" value="{{system.attributes.armor.value}}" data-dtype="Number" disabled/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.barrier.value" class="cell--title">{{localize "KG.Barrier"}}<i class="fas fa-cog attribute-icon"></i></label>
                  <input type="text" value="{{system.attributes.barrier.value}}" data-dtype="Number" disabled/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.barrier.value" class="cell--title">{{localize "KG.BattleMove"}}<i class="fas fa-cog attribute-icon"></i></label>
                  <input type="text" value="{{system.attributes.move.battle}}" data-dtype="Number" disabled/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.barrier.value" class="cell--title">{{localize "KG.FullMove"}}<i class="fas fa-cog attribute-icon"></i></label>
                  <input type="text" value="{{system.attributes.move.full}}" data-dtype="Number" disabled/>
                </div>


              </div>

            </div>

 

          </section>

          {{!-- Sheet Tab Navigation --}}
          <nav class="sheet-tabs tabs" data-group="primary">
              <a class="item" data-tab="description">{{localize "KG.Description"}}</a>
              <a class="item" data-tab="talents">{{localize "KG.Talents"}}</a>
              <a class="item" data-tab="equipment">{{localize "KG.Equipment"}}</a>
              <a class="item" data-tab="bonds">{{localize "KG.Bonds"}}</a>
              <a class="item" data-tab="effect">{{localize "KG.Effect"}}</a>
          </nav>

          {{!-- Sheet Body --}}
          <section class="sheet-body">

            {{!-- Biography Tab --}}
            <div class="tab description" data-group="primary" data-tab="description">
              <div class="sheet-tab">

                <label class="title">{{localize "KG.Facade"}} : 
                {{#each actor.facade as |item id|}}
                  <span class="item" data-item-id="{{item._id}}">
                    <label>{{item.name}}</label>
                    <span><a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></span>
                  </span>
                {{/each}}
                    <hr>
                </label>

                <div class="cell cell--bio">
                  <label class="cell--title">{{localize "KG.Biography"}} : </label>
                  {{!-- We're avoiding WYSIWYGs... for now... --}}
                  {{editor enrichedBiography target="system.details.biography" button=true editable=editable }}
                </div>
              </div>
            </div>

            {{!-- Talents Tab --}}
            <div class="tab talents active" data-group="primary" data-tab="talents">
              <section class="sheet-tab">
                <div class="cell cell--spirit-burn">
                  <label class="spirit-butn-name">{{localize "KG.SpiritBurn"}}</label>

                  <button id="transcend">{{localize "KG.Transcend"}}</button>
                  <button id="vitalIgnition">{{localize "KG.VitalIgnition"}}</button>
                  <button id="conceptDestruction">{{localize "KG.ConceptDestruction"}}</button>
                </div>

                {{#if actor.talentClassify}}
                <div class="cell cell--race-talents">
                  <h2 class="cell--title">
                    <label>{{localize "KG.RaceTalents"}}</label>
                    <div class="item-controls">
                      <button class="item-control item-create" title='{{localize "KG.TalentCreate"}}' data-type="talent" data-talentType="RACE">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2>
                  <ol class="items-list">
                  {{#each actor.raceTalents as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                      {{!-- <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/> --}}
                      <h4 class="item-name">
                        <span class="echo-item" style="float:left;">
                            <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                        </span> 
                        <span class="item-label">[{{item.system.condition}}] {{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                        {{localize "KG.Timing"}} : {{local item.system.timing}} / 
                        {{localize "KG.Range"}} : {{item.system.range}} / 
                        {{localize "KG.Target"}} : {{item.system.target}} / 
                        {{localize "KG.Cost"}} : {{item.system.cost}}
                            <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                     </span></span>
                   </h4>
                      <h4 class="item-addon">
                        <input type="checkbox" class="active-check" {{#if item.system.active.state}} checked {{/if}}>
                        <input type="number" class="checkbox-input used-input" value="{{item.system.used.state}}" style="vertical-align: 3px;" {{#ifEquals item.system.used.disable "notCheck"}} disabled {{/ifEquals}}>
                      </h4>
                      <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                      <div class="item-description">{{{item.system.description}}}
                      </div>
                    </li>
                  {{/each}}
                  </ol>
                </div>

                <div class="cell cell--style-talent">
                  <h2 class="cell--title">
                    <label>{{localize "KG.StyleTalents"}}</label>
                    <div class="item-controls">
                      <button class="item-control item-create" title='{{localize "KG.TalentCreate"}}' data-type="talent" data-talentType="STYLE">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2>
                  <ol class="items-list">
                  {{#each actor.styleTalents as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                      {{!-- <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/> --}}
                      <h4 class="item-name">
                        <span class="echo-item" style="float:left;">
                            <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                        </span> 
                        <span class="item-label">[{{item.system.condition}}] {{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                        {{localize "KG.Timing"}} : {{local item.system.timing}} / 
                        {{localize "KG.Range"}} : {{item.system.range}} / 
                        {{localize "KG.Target"}} : {{item.system.target}} / 
                        {{localize "KG.Cost"}} : {{item.system.cost}}
                            <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                     </span></span>
                   </h4>

                      <h4 class="item-addon">
                        <input type="checkbox" class="active-check" {{#if item.system.active.state}} checked {{/if}}>
                        <input type="number" class="checkbox-input used-input" value="{{item.system.used.state}}" style="vertical-align: 3px;" {{#ifEquals item.system.used.disable "notCheck"}} disabled {{/ifEquals}}>
                      </h4>
                      <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                      <div class="item-description">{{{item.system.description}}}
                      </div>
                    </li>
                  {{/each}}
                  </ol>
                </div>

                <div class="cell cell--common-talent">
                  <h2 class="cell--title">
                    <label>{{localize "KG.CommonTalents"}}</label>
                    <div class="item-controls">
                      <button class="item-control item-create" title='{{localize "KG.TalentCreate"}}' data-type="talent" data-talentType="COMMON">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2>
                  <ol class="items-list">
                  {{#each actor.talents as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                      {{!-- <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/> --}}
                      <h4 class="item-name">
                        <span class="echo-item" style="float:left;">
                            <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                        </span> 
                        <span class="item-label">[{{item.system.condition}}] {{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                        {{localize "KG.Timing"}} : {{local item.system.timing}} / 
                        {{localize "KG.Range"}} : {{item.system.range}} / 
                        {{localize "KG.Target"}} : {{item.system.target}} / 
                        {{localize "KG.Cost"}} : {{item.system.cost}}
                            <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                     </span></span>
                   </h4>

                      <h4 class="item-addon">
                        <input type="checkbox" class="active-check" {{#if item.system.active.state}} checked {{/if}}>
                        <input type="number" class="checkbox-input used-input" value="{{item.system.used.state}}" style="vertical-align: 3px;" {{#ifEquals item.system.used.disable "notCheck"}} disabled {{/ifEquals}}>
                      </h4>
                      <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                      <div class="item-description">{{{item.system.description}}}
                      </div>
                    </li>
                  {{/each}}
                  </ol>
                </div>

                {{else}}
                <div class="cell cell--race-talents">
                  <h2 class="cell--title">
                    <label>{{localize "KG.Talents"}}</label>
                    <div class="item-controls">
                      <button class="item-control item-create" title='{{localize "KG.TalentCreate"}}' data-type="talent" data-talentType="-">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2>
                  <ol class="items-list">
                  {{#each actor.talents as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                      <h4 class="item-name">
                        <span class="echo-item" style="float:left;">
                            <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                        </span> 
                        <span class="item-label">[{{item.system.condition}}] {{item.name}}<br>
                        <span style="color : gray; font-size : smaller;">
                        {{localize "KG.Timing"}} : {{local item.system.timing}} / 
                        {{localize "KG.Range"}} : {{item.system.range}} / 
                        {{localize "KG.Target"}} : {{item.system.target}} / 
                        {{localize "KG.Cost"}} : {{item.system.cost}}
                            <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                     </span></span>
                   </h4>

                      <h4 class="item-addon">
                        <input type="checkbox" class="active-check" {{#if item.system.active.state}} checked {{/if}}>
                        <input type="number" class="checkbox-input used-input" value="{{item.system.used.state}}" style="vertical-align: 3px;" {{#ifEquals item.system.used.disable "notCheck"}} disabled {{/ifEquals}}>
                      </h4>
                      <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                      <div class="item-description">{{{item.system.description}}}
                      </div>
                    </li>
                  {{/each}}
                  </ol>
                </div>

                {{/if}}

              </section>
            </div>

            {{!-- Owned Items Tab --}}
            <div class="tab" data-group="primary" data-tab="equipment">
              <div class="cell flexrow margin-top-10">
                <b>{{localize "KG.Money"}} </b>
                <input type="text" name="system.attributes.money" value="{{system.attributes.money}}" data-dtype="Number">
                <b class="cell-G">G</b>

              </div>

              <div class="cell cell--equipment-item">
                <h2 class="cell--title">
                  <label>{{localize "KG.EquipmentItem"}}</label>
                  <div class="item-controls">
                    <button class="item-control item-create" title='{{localize "KG.ItemCreate"}}' data-type="equipment" data-talentType="-">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </h2>
                <ol class="items-list">
                {{#each actor.equipmentItems as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                    {{!-- <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/> --}}
                    <h4 class="item-name"><span class="echo-item" style="float:left;">
                    <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;"></span> 
                    <span class="item-label">{{item.name}}<br>
                    <span style="color : gray; font-size : smaller;"> 
                    {{localize "KG.Form"}} : {{item.system.form}} / 
                    {{localize "KG.Restrict"}} : {{item.system.restrict}} /
                    {{localize "KG.Mode"}} : {{item.system.mode}}
                    <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                    </span></span></h4>
                    <h4 class="item-addon">
                      <input type="checkbox" class="active-equipment" {{#if item.system.equipment}} checked {{/if}}>
                    </h4>

                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">{{{item.system.description}}}</div>
                  </li>
                {{/each}}
                </ol>
              </div>

              <div class="cell cell--common-talent">
                <h2 class="cell--title">
                  <label>{{localize "KG.SacramentItem"}}</label>
                  <div class="item-controls">
                    <button class="item-control item-create" title='{{localize "KG.TalentCreate"}}' data-type="item" data-talentType="sacraments">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </h2>
                <ol class="items-list">
                {{#each actor.sacramentItems as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                    {{!-- <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/> --}}
                    <h4 class="item-name">
                        <span class="echo-item"><img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;"></span> 
                        <span class="item-label">{{item.name}} ({{item.system.usage}}) X {{item.system.quantity}}

                            <span class="item-details-toggle">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                        </span>
                    </h4>

                    <h4 class="item-addon">
                      <button type="button" class="icon-button quantity-change" data-add="-1">-</button>
                      <span>{{item.system.quantity}}</span>
                      <button type="button" class="icon-button quantity-change" data-add="1">+</button>
                    </h4>

                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">
                      <p>{{{item.system.description}}}</p>
                    </div>
                  </li>
                {{/each}}
                </ol>
              </div>

              <div class="cell cell--common-talent">
                <h2 class="cell--title">
                  <label>{{localize "KG.ConsumableItem"}}</label>
                  <div class="item-controls">
                    <button class="item-control item-create" title='{{localize "KG.TalentCreate"}}' data-type="item" data-talentType="consumables">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </h2>
                <ol class="items-list">
                {{#each actor.consumableItems as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                    {{!-- <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/> --}}
                    <h4 class="item-name">
                        <span class="echo-item"><img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;"></i></span> 
                        <span class="item-label">{{item.name}} ({{item.system.usage}}) X {{item.system.quantity}}

                            <span class="item-details-toggle">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                        </span>
                    </h4>

                    <h4 class="item-addon">
                      <button type="button" class="icon-button quantity-change" data-add="-1">-</button>
                      <span>{{item.system.quantity}}</span>
                      <button type="button" class="icon-button quantity-change" data-add="1">+</button>
                      <button type="button" class="use-button use-word use-item">{{localize "KG.Use"}}</button>
                    </h4>

                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">
                      <p>{{{item.system.description}}}</p>
                    </div>
                  </li>
                {{/each}}
                </ol>
              </div>

            </div>

            {{!-- Owned Items Tab --}}
            <div class="tab" data-group="primary" data-tab="bonds">
              <div class="cell">
                <h2 class="cell--title">
                  <label>{{localize "KG.Bonds"}}</label>
                  <div class="item-controls">
                    <button class="item-control item-create" title='{{localize "KG.ItemCreate"}}' data-type="bond" data-talentType="-">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </h2>
                <ol class="items-list">
                {{#each actor.bonds as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                    {{!-- <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/> --}}
                    <h4 class="item-name">
                      <span class="echo-item"><img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle; margin-right:10px;"></span> 
                     <span class="item-label">{{item.name}}<span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span></span></h4>
                    
                      <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">{{{item.system.description}}}</div>
                  </li>
                {{/each}}
                </ol>
              </div>

            </div>

            {{!-- Owned Items Tab --}}
            <div class="tab" data-group="primary" data-tab="effect">
              <div class="cell">
                <h2 class="cell--title">
                  <label>{{localize "KG.Effect"}}</label>
                </h2>
                  <ol class="items-list">
                  {{#each actor.effects as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                      <h4 class="item-name">
                        <span class="echo-item" style="float:left;">
                            <img src="{{item.img}}" title="{{item.name}}" width="37" height="37" style="vertical-align : middle;margin-right:10px;">
                        </span> 
			<span class="item-label">[{{item.system.condition}}] {{item.name}} | {{item.actorName}}<br>
                        <span style="color : gray; font-size : smaller;">
                        {{localize "KG.Timing"}} : {{local item.system.timing}} / 
                        {{localize "KG.Range"}} : {{item.system.range}} / 
                        {{localize "KG.Target"}} : {{item.system.target}} / 
                        {{localize "KG.Cost"}} : {{item.system.cost}} / {{localize "KG.DisableTiming"}} : {{disable item.disable}}
                            <span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span>
                     </span></span>
                   </h4>

                      <h4 class="item-addon">
			<button type="button" class="show-effect" style="width: auto"><i class="fas fa-eye"></i></button>
                        <button type="button" class="remove-effect" style="width: auto"><i class="fas fa-trash"></i></button>
                      </h4>
                      <div class="item-description">{{{item.system.description}}}
                      </div>
                    </li>
                  {{/each}}
                  </ol>
              </div>

            </div>


          </section>

        </section>

    </div>
</form>

