<form class="{{cssClass}}" autocomplete="off">

    <div class="sheet-wrapper">
      <button style="display: none;">Input Button Click bypass</button>
        {{!-- Sheet Header --}}
        <header class="sheet-header">
            <div class="sheet-header__fields">
                <input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>

                <div class="flex-item flex-item--level">
                    <label for="system.attributes.level.value">{{localize "KG.LEVEL"}}</label>
                    <input name="system.attributes.level.value" type="text" value="{{system.attributes.level.value}}" placeholder="Level" data-dtype="Number"/>
                </div>

            </div>
        </header>


        <section class="sheet-main">
          <div class="enermy-header">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
            <textarea name="system.details.basic">{{system.details.basic}}</textarea>
          </div>
          {{#if isView}}
          <section class="sheet-attributes">

            <div class="cell cell--sub-stat">
              <span class="cell--title">{{localize "KG.BasicStat"}}</span>
              <div class="main-ability-list">
                <div class="cell cell--ability">
                  <label for="system.attributes.hp.value" class="cell--title">{{localize "KG.HP"}}<i class="fas fa-heart attribute-icon"></i></label>
                  <div class="cell--counter">
                    <input type="text" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="system.attributes.hp.max" value="{{system.attributes.hp.max}}" data-dtype="Number"/>
                  </div>
                </div>        

                <div class="cell cell--ability">
                  <label for="system.attributes.init.value" class="cell--title">{{localize "KG.Init"}}<i class="fas fa-cog attribute-icon"></i></label>
                  <input type="text" name="system.attributes.init.value" value="{{system.attributes.init.value}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.move.value" class="cell--title">{{localize "KG.Move"}}<i class="fas fa-cog attribute-icon"></i></label>
                  <input type="text" name="system.attributes.move.value" value="{{system.attributes.move.value}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.armor.value" class="cell--title">{{localize "KG.Armor"}}<i class="fas fa-cog attribute-icon"></i></label>
                  <input type="text" name="system.attributes.armor.value" value="{{system.attributes.armor.value}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.barrier.value" class="cell--title">{{localize "KG.Barrier"}}<i class="fas fa-cog attribute-icon"></i></label>
                  <input type="text" name="system.attributes.barrier.value" value="{{system.attributes.barrier.value}}" data-dtype="Number"/>
                </div>
              </div>

              <span class="cell--title">{{localize "KG.ActionStat"}}</span>
              <div class="main-ability-list">
                <div class="cell cell--ability">
                  <label for="system.attributes.acc.value" class="cell--title">{{localize "KG.ACC"}}</label>
                  <input type="text" name="system.attributes.acc.value" value="{{system.attributes.acc.value}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.eva.value" class="cell--title">{{localize "KG.EVA"}}</label>
                  <input type="text" name="system.attributes.eva.value" value="{{system.attributes.eva.value}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.ivc.value" class="cell--title">{{localize "KG.CNJ"}}</label>
                  <input type="text" name="system.attributes.ivc.value" value="{{system.attributes.ivc.value}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.res.value" class="cell--title">{{localize "KG.RES"}}</label>
                  <input type="text" name="system.attributes.res.value" value="{{system.attributes.res.value}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.chk.value" class="cell--title">{{localize "KG.INS"}}</label>
                  <input type="text" name="system.attributes.chk.value" value="{{system.attributes.chk.value}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.acc_fix.fix" class="cell--title">{{localize "KG.ACCFix"}}</label>
                  <input type="text" name="system.attributes.acc.fix" value="{{system.attributes.acc.fix}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.eva.fix" class="cell--title">{{localize "KG.EVAFix"}}</label>
                  <input type="text" name="system.attributes.eva.fix" value="{{system.attributes.eva.fix}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.ivc.fix" class="cell--title">{{localize "KG.IVCFix"}}</label>
                  <input type="text" name="system.attributes.ivc.fix" value="{{system.attributes.ivc.fix}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.res.fix" class="cell--title">{{localize "KG.RESFix"}}</label>
                  <input type="text" name="system.attributes.res.fix" value="{{system.attributes.res.fix}}" data-dtype="Number"/>
                </div>

                <div class="cell cell--ability">
                  <label for="system.attributes.chk.fix" class="cell--title">{{localize "KG.CHKFix"}}</label>
                  <input type="text" name="system.attributes.chk.fix" value="{{system.attributes.chk.fix}}" data-dtype="Number"/>
                </div>
              </div>
            </div>

          </section>

          {{!-- Sheet Tab Navigation --}}
          <nav class="sheet-tabs tabs" data-group="primary">
              <a class="item" data-tab="description">{{localize "KG.Description"}}</a>
              <a class="item" data-tab="attack">{{localize "KG.Attack"}}</a>
              <a class="item" data-tab="materials">{{localize "KG.Materials"}}</a>
              <a class="item" data-tab="defense">{{localize "KG.DamageReduce"}}</a>
          </nav>

          {{!-- Sheet Body --}}
          <section class="sheet-body">

            {{!-- Biography Tab --}}
            <div class="tab description" data-group="primary" data-tab="description">
              <div class="sheet-tab">
                <div class="cell cell--bio">
                  {{!-- We're avoiding WYSIWYGs... for now... --}}
                  {{editor enrichedBiography target="system.details.biography" button=true editable=editable }}
                </div>
              </div>
            </div>

            {{!-- Talents Tab --}}
            <div class="tab description" data-group="primary" data-tab="attack">
              <section class="sheet-tab">
                <div class="cell cell--bio">

                  <h2 class="cell--title">
                    <label>{{localize "KG.AttackOptions"}}</label>
                    <div class="item-controls">
                      <button class="item-control item-create" title='{{localize "KG.AttackOptions"}}' data-type="attackOption" data-talentType="-">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2>
                  <ol class="items-list">
                    {{#each actor.attackOptions as |item id|}}
                      <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                        {{!-- <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/> --}}
                        <h4 class="item-name"><span class="echo-item"><i class="fas fa-book"></i></span> <span class="item-label">{{item.name}}<span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span></span></h4>
                        <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="item-description" style="display: block;">
                          <b>{{localize "KG.Timing"}}</b> : {{local item.system.timing}} ( {{item.system.resist}} ) / 
                          <b>{{localize "KG.Range"}}</b> : {{item.system.range}} / 
                          <b>{{localize "KG.Target"}}</b> : {{item.system.target}} / 
                          <b>{{localize "KG.Formula"}}</b> : {{item.system.formula}} <br>{{{item.system.description}}}

                        </div>
                      </li>
                    {{/each}}
                    </ol>
                    <hr>
                    <label class="cell--title">{{localize "KG.Memo"}}</label>
                    {{!-- We're avoiding WYSIWYGs... for now... --}}
                    {{editor enrichedAttack target="system.details.attack" button=true editable=editable }}

                </div>
              </section>
            </div>

            {{!-- Owned Items Tab --}}
            <div class="tab description" data-group="primary" data-tab="materials">
              <section class="sheet-tab">
                <div class="cell cell--bio">
                  <label class="cell--title">{{localize "KG.Materials"}}</label>
                  {{!-- We're avoiding WYSIWYGs... for now... --}}
                  {{editor enrichedMaterials target="system.details.materials" button=true editable=editable }}

                </div>
              </section>
            </div>

            {{!-- Biography Tab --}}
            <div class="tab description" data-group="primary" data-tab="defense">
              <div class="sheet-tab">
                <div class="cell">
                  <h2 class="cell--title">
                    <label>{{localize "KG.DamageReduce"}}</label>
                    <div class="item-controls">
                      <button class="item-control defense-refresh">
                        <i class="fas fa-redo"></i>
                      </button>
                    </div>
                  </h2>
                  <table>
                    <tr>
                      <th>{{localize "KG.AddArmor"}}</th>
                      <td><input type="text" name="system.attributes.defense.armor" value="{{system.attributes.defense.armor}}" data-dtype="Number"></td>
                    </tr>
                    <tr>
                      <th>{{localize "KG.AddBarrier"}}</th>
                      <td><input type="text" name="system.attributes.defense.barrier" value="{{system.attributes.defense.barrier}}" data-dtype="Number"></td>
                    </tr>
                    <tr>
                      <th>{{localize "KG.DamageReduce"}}</th>
                      <td><input type="text" name="system.attributes.defense.reduce" value="{{system.attributes.defense.reduce}}" data-dtype="Number"></td>
                    </tr>
                    <tr>
                      <th>{{localize "KG.Half"}}</th>
                      <td><input type="checkbox" name="system.attributes.defense.half" {{#if system.attributes.defense.half}} checked{{/if}}></td>
                    </tr>
                    <tr>
                      <th>{{localize "KG.Quarter"}}</th>
                      <td><input type="checkbox" name="system.attributes.defense.quarter" {{#if system.attributes.defense.quarter}} checked{{/if}}></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

          </section>
        {{/if}}
        </section>

    </div>
</form>

