<div class="dialog-content">
    <h2 style="display: flex; font-weight: bold;">
      <img src="{{src}}" width="30" height="30" style="flex: 0; object-fit: cover; border: 2px solid black; border-radius: 50%;">
      <span style="flex: 1; font-size: 20px; margin: 2px; margin-bottom: 4px;">{{name}} [{{damage}}]</span>
      
      <span style="border: 4px double; height: 100%; padding: 0 7px; font-size: 18px;">
        <span>
          <span id="realDamage">{{realDamage}}</span>
          {{#if recovery}} <i class="fas fa-arrow-up" style="color: green"></i> {{else}} <i class="fas fa-arrow-down" style="color: darkred;"></i> {{/if}}
        </span>
        <span style="margin-left: 7px;">
          <i class="fas fa-heart" style="color: indianred"></i>
          <span id="life">{{life}}</span>
        </span>
      </span>
    </h2>
    
    <table>
      <tr>
        <th>{{localize "KG.AddArmor"}}</th>
        <td colspan="4"><input type="text" id="armor" value="{{armor}}" ></td>
      </tr>
      <tr>
        <th>{{localize "KG.AddBarrier"}}</th>
        <td colspan="4"><input type="text" id="barrier" value="{{barrier}}" ></td>
      </tr>
      <tr>
        <th>{{localize "KG.DamageReduce"}}</th>
        <td colspan="4"><input type="text" id="reduce" value="{{reduce}}" ></td>
      </tr>
      <tr>
        <th>{{localize "KG.Half"}}</th>
        <td colspan="4"><input type="checkbox" id="half" {{half}} ></td>
      </tr>
      <tr>
        <th>{{localize "KG.Quarter"}}</th>
        <td colspan="3"><input type="checkbox" id="quarter" {{quarter}} ></td>
        <td><button id="reset">Reset</button></td>
      </tr>

    </table>

</div>
<div class="dialog-buttons">
    {{#each buttons as |button id|}}
    <button class="dialog-button" data-button="{{id}}">
        {{{button.icon}}}
        {{{button.label}}}
    </button>
    {{/each}}
</div>
