<div class="dialog-content">
    <h2>Spirit Dice Viewer</h2>

    <div id="dice-list">
    {{#each actors }}
        <div class="dice-viewer">
            <b>{{name}}</b>

            <div data-id="{{id}}">
            {{#each spiritDice as |value key|}}
            <img class="spirit" width=45 height=45 data-key={{key}} data-value={{value}} src="systems/kamigakari/assets/dice/{{value}}.PNG">
            {{/each}}
            </div>

            <b style="float: left; padding: 5px 0;">{{localize "KG.Overflow"}}</b>

            <div style="text-align: right;" data-id="{{id}}">
                <button type="button" class="add--overflow" data-add="-1" style="width: 8%"> - </button>
                <span style="width: 8%; padding: 5px 0; height: 100%">{{overflow}}</span>
                <button type="button" class="add--overflow" data-add="+1" style="width: 8%"> + </button>

            </div>
        </div>
    {{/each}}
    </div>

</div>
<div class="dialog-buttons">
    {{#each buttons as |button id|}}
    <button class="dialog-button" data-button="{{id}}">
        {{{button.icon}}}
        {{{button.label}}}
    </button>
    {{/each}}
</div>
