{{#validateDice parts}}

{{#each parts}}
<section class="tooltip-part">
    <div class="dice">
        <span class="dice-rolls">
        {{#each this.rolls}}
            <span style="background-image: url('systems/kamigakari/assets/dice/{{this.result}}.PNG'); background-size: 30px; width: 30px; height: 30px;" class="roll {{this.classes}}" data-dice={{this.result}}></span>
        {{/each}}
        </span>
        <span class="part-total">{{this.total}} </span>
        <a class="influence">
            <i class="fas fa-yin-yang" style="font-size: 30px"></i>
        </a>
    </div>
</section>
{{/each}}

{{else}}

<div class="dice-tooltip">
    {{#each parts}}
    <section class="original tooltip-part">
        <div class="dice">
            <header class="part-header flexrow">
                <span class="part-formula">{{this.formula}}</span>
                {{#if this.flavor}}<span class="part-flavor">{{this.flavor}}</span>{{/if}}
                <span class="part-total">{{this.total}}</span>
            </header>
            <ol class="dice-rolls">
            {{#each this.rolls}}
                <li class="roll {{this.classes}}">{{{this.result}}}</li>
            {{/each}}
            </ol>
        </div>
    </section>
    {{/each}}
</div>

{{/validateDice}}

