<form class="{{cssClass}} item-form" autocomplete="off">
  <header class="sheet-header flexrow">
      {{!-- <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/> --}}
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" ></h1>
      </div>
  </header>

  <div class="sheet-tab margin-top-10">
    <div class="sheet-wrapper">
      <section class="sheet-attributes">

        <div class="cell cell--talent">
          <label for="system.timing" class="cell--title">{{localize "KG.Timing"}}</label>
          <select class="width-100" name="system.timing" data-dtype="String">
            {{#select system.timing}}
            <option value="Start">{{localize "KG.Start"}}</option>
            <option value="Prep">{{localize "KG.Prep"}}</option>
            <option value="Attack">{{localize "KG.Attack"}}</option>
            <option value="Melee">{{localize "KG.Melee"}}</option>
            <option value="Physical">{{localize "KG.Physical"}}</option>
            <option value="Ranged">{{localize "KG.Ranged"}}</option>
            <option value="Magical">{{localize "KG.Magical"}}</option>
            <option value="Defense">{{localize "KG.Defense"}}</option>
            <option value="End">{{localize "KG.End"}}</option>
            <option value="Constant">{{localize "KG.Constant"}}</option>
            <option value="Free">{{localize "KG.Free"}}</option>
            {{/select}}
          </select>
          
        </div>

        <div class="cell cell--talent">
          <label for="system.range" class="cell--title">{{localize "KG.Range"}}</label>
          <input type="text" name="system.range" value="{{system.range}}" data-dtype="String"/>
        </div>

        <div class="cell cell--talent">
          <label for="system.target" class="cell--title">{{localize "KG.Target"}}</label>
          <input type="text" name="system.target" value="{{system.target}}" data-dtype="String"/>
        </div>

        <div class="cell cell--talent">
          <label for="system.resist" class="cell--title">{{localize "KG.RES"}}</label>
          <input type="text" name="system.resist" value="{{system.resist}}" data-dtype="String"/>
        </div>

        <div class="cell cell--talent">
          <label for="system.roll" class="cell--title">{{localize "KG.DamageType"}}</label>
        </div>

        <div class="cell cell--formula">
          <select class="width-100" name="system.roll" data-dtype="String">
            {{#select system.roll}}
            <option value="-">-</option>
            <option value="acc">{{localize "KG.MartialAttack"}}</option>
            <option value="cnj">{{localize "KG.MagicAttack"}}</option>
            {{/select}}
          </select>
        </div>
        
        <div class="cell cell--talent">
          <label for="system.formula" class="cell--title">{{localize "KG.Formula"}}</label>
        </div>

        <div class="cell cell--formula">
          <input type="text" name="system.formula" value="{{system.formula}}" data-dtype="String"/>
        </div>

      </section>

      <div class="cell cell--bio">
        <label class="cell--title">{{localize "KG.Description"}}</label>
        {{!-- We're avoiding WYSIWYGs... for now... --}}
        {{editor enrichedBiography target="system.description" button=true editable=editable }}
      </div>

    </div>
  </div>

</form>
