<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    <table>
        <colgroup>
            <col style="width: 20%;">
            <col style="width: 20%;">
            <col style="width: 20%;">
            <col style="width: 20%;">
            <col style="width: 20%;">
        </colgroup>

        <tr>
            <th>{{localize "KG.STR"}}</th>
            <th>{{localize "KG.AGI"}}</th>
            <th>{{localize "KG.INT"}}</th>
            <th>{{localize "KG.WIL"}}</th>
            <th>{{localize "KG.LCK"}}</th>
        </tr>

        <tr>
            <td><input type="text" name="system.attributes.str_roll.value" value="{{system.attributes.str_roll.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.agi_roll.value" value="{{system.attributes.agi_roll.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.int_roll.value" value="{{system.attributes.int_roll.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.wil_roll.value" value="{{system.attributes.wil_roll.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.lck_roll.value" value="{{system.attributes.lck_roll.value}}" data-dtype="Number"/></td>
        </tr>

    </table>

    <div class="cell cell--bio">
        <label class="cell--title">{{localize "KG.Description"}}</label>
        {{!-- We're avoiding WYSIWYGs... for now... --}}
        {{!-- {{editor content=system.details.biography target="system.details.biography" button=true owner=owner editable=editable}} --}}
        <textarea class="biography" name="system.description" rows="5" title="Hey there! Who are you!?"
                data-dtype="String">{{system.description}}</textarea>
    </div>
</form>
