<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

      <div class="sheet-tab margin-top-10">
        <div class="sheet-wrapper">
          <section class="sheet-attributes">

            <div class="cell cell--talent">
              <label for="system.class" class="cell--title">{{localize "KG.Class"}}</label>
              <select name="system.class" data-dtype="String" class="width-100">
                {{#select system.class}}
                <option value="consumables">{{localize "KG.Consumables"}}</option>
                <option value="sacraments">{{localize "KG.Sacraments"}}</option>
                {{/select}}
              </select>  
            </div>

            <div class="cell cell--talent">
              <label for="system.usage" class="cell--title">{{localize "KG.Usage"}}</label>
              <select name="system.usage" data-dtype="String" class="width-100">
                {{#select system.usage}}
                <option value="-">-</option>
                <option value="{{localize "KG.Other"}}">{{localize "KG.Other"}}</option>
                <option value="{{localize "KG.Rest"}}">{{localize "KG.Rest"}}</option>
                <option value="{{localize "KG.Anomalies"}}">{{localize "KG.Anomalies"}}</option>
                {{/select}}
              </select>  
            </div>

            <div class="cell cell--talent">
              <label for="system.price" class="cell--title">{{localize "KG.Price"}}</label>
              <input type="text" name="system.price" value="{{system.price}}" data-dtype="Number"/>
            </div>

            <div class="cell cell--talent">
              <label for="system.quantity" class="cell--title">{{localize "KG.Quantity"}}</label>
              <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="String"/>
            </div>

            <div class="cell cell--talent">
              <label for="system.macro" class="cell--title">{{localize "KG.Macro"}}</label>
            </div>

            <div class="cell cell--formula">
              <input type="text" name="system.macro" value="{{system.macro}}" data-dtype="String" style="text-align: left"/>
            </div>

          </section>

          <div class="cell cell--bio">
            <label class="cell--title">{{localize "KG.Description"}}</label>
            {{!-- We're avoiding WYSIWYGs... for now... --}}
            {{editor enrichedBiography target="system.description" button=true editable=editable }}
          </div>

        </div>
      </div>

</form>
