<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    <div class="resource margin-top-10">
        <label>{{localize "KG.Quantity"}}</label>
        <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
    </div>

    <div class="cell cell--bio">
        <label class="cell--title">{{localize "KG.Description"}}</label>
        {{!-- We're avoiding WYSIWYGs... for now... --}}
        {{!-- {{editor content=data.details.biography target="data.details.biography" button=true owner=owner editable=editable}} --}}
        <textarea class="biography" name="data.description" rows="5" title="Hey there! Who are you!?"
                data-dtype="String">{{data.description}}</textarea>
    </div>
</form>
