<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>

    </header>

    <table>

        <tr>
            <th>{{localize "KG.ACC"}}</th>
            <th>{{localize "KG.EVA"}}</th>
            <th>{{localize "KG.CNJ"}}</th>
            <th>{{localize "KG.RES"}}</th>
            <th>{{localize "KG.INS"}}</th>
            <th>{{localize "KG.PD"}}</th>
            <th>{{localize "KG.MD"}}</th>
            <th>{{localize "KG.Init"}}</th>
            <th>{{localize "KG.HP"}}</th>
        </tr>

        <tr>
            <td><input type="text" name="system.attributes.acc.value" value="{{system.attributes.acc.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.eva.value" value="{{system.attributes.eva.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.cnj.value" value="{{system.attributes.cnj.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.res.value" value="{{system.attributes.res.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.ins.value" value="{{system.attributes.ins.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.pd.value" value="{{system.attributes.pd.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.md.value" value="{{system.attributes.md.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.init.value" value="{{system.attributes.init.value}}" data-dtype="Number"/></td>
            <td><input type="text" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}" data-dtype="Number"/></td>
        </tr>


    </table>

    <div class="cell cell--bio">
        <label class="cell--title">{{localize "KG.Description"}}
            <div>
                <span style="position: relative; top: -5px;">{{localize "KG.Main"}}</span> 
                <input type="checkbox" name="system.main" {{#if system.main}} checked {{/if}}>
            </div>
        </label>
        {{!-- We're avoiding WYSIWYGs... for now... --}}
        {{!-- {{editor content=system.details.biography target="system.details.biography" button=true owner=owner editable=editable}} --}}
        <textarea class="biography" name="system.description" rows="5" title="Hey there! Who are you!?"
                data-dtype="String">{{system.description}}</textarea>
    </div>
</form>
