<form class="{{cssClass}} item-form" autocomplete="off">
  <header class="sheet-header flexrow">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" ></h1>
      </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-navigation sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "KG.Description" }}</a>
    <a class="item" data-tab="attributes">{{localize "KG.Attributes" }}</a>
    <a class="item" data-tab="target">{{localize "KG.Target" }}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">

      <div class="sheet-tab margin-top-10">
        <div class="sheet-wrapper">
          <section class="sheet-attributes">
            <div class="cell cell--talent">
              <label for="system.attributes.str.value" class="cell--title">{{localize "KG.TalentType"}}</label>
              <select class="width-100" name="system.talentType" data-dtype="String">
                {{#select system.talentType}}
                <option value="COMMON">{{localize "KG.COMMON"}}</option>
                <option value="RACE">{{localize "KG.RACE"}}</option>
                <option value="STYLE">{{localize "KG.STYLE"}}</option>
                {{/select}}
              </select>
            </div>

            <div class="cell cell--class">
              <label for="system.class" class="cell--title">{{localize "KG.Class"}}</label>
              <div class="cell--counter width-100">
                <input type="text" name="system.class" value="{{system.class}}" data-dtype="String"/>
                <select name="system.classType" data-dtype="String">
                  {{#select system.classType}}
                  <option value="-">-</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  {{/select}}
                </select>
              </div>
            </div>

            <div class="cell cell--talent">
              <label for="system.attributes.int.value" class="cell--title">{{localize "KG.Condition"}}</label>
              <select name="system.condition" data-dtype="String" class="width-100">
                {{#select system.condition}}
                <option value="-">-</option>
                <option value="※">※</option>
                <option value="●">●</option>
                <option value="◎">◎</option>
                {{/select}}
              </select>                
            </div>

            <div class="cell cell--talent">
              <label for="system.timing" class="cell--title">{{localize "KG.Timing"}}</label>
              <select class="width-100" name="system.timing" data-dtype="String">
                {{#select system.timing}}
                <option value="Start">{{localize "KG.Start"}}</option>
                <option value="Prep">{{localize "KG.Prep"}}</option>
                <option value="Attack">{{localize "KG.Attack"}}</option>
                <option value="Defense">{{localize "KG.Defense"}}</option>
                <option value="End">{{localize "KG.End"}}</option>
                <option value="Constant">{{localize "KG.Constant"}}</option>
                <option value="Free">{{localize "KG.Free"}}</option>
                {{/select}}
              </select>
            </div>

            <div class="cell cell--talent">
              <label for="system.range" class="cell--title">{{localize "KG.Range"}}</label>
              <input type="text" name="system.range" value="{{system.range}}" data-dtype="String"/>
            </div>

            <div class="cell cell--talent">
              <label for="system.target" class="cell--title">{{localize "KG.Target"}}</label>
              <input type="text" name="system.target" value="{{system.target}}" data-dtype="String"/>
            </div>

            <div class="cell cell--talent">
              <label for="system.cost" class="cell--title">{{localize "KG.Cost"}}</label>
              <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="String"/>
            </div>

                

          </section>

          <div class="cell cell--bio">
            <label class="cell--title">{{localize "KG.Description"}}

              <span class="level-box">
                <label>{{localize "KG.LEVEL"}}: </label>
                <input type="input" name="system.level" value="{{system.level}}">
              </span>
            </label>
            {{!-- We're avoiding WYSIWYGs... for now... --}}
            {{editor enrichedBiography target="system.description" button=true editable=editable }}
          </div>

        </div>
      </div>
    </div>

      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
          <div>
            <table>
              <tr>
                <th><label for="system.macro">{{localize "KG.Macro"}}</label></th>
                <td colspan="5"><input type="text" name="system.macro" data-dtype="String" value="{{system.macro}}"></td>
              </tr>
              
              <tr>
                <th><label for="system.roll" class="">{{localize "KG.Roll"}}</label></th>
                <td>
                  <select class="" name="system.roll" data-dtype="String">
                    {{#select system.roll}}
                    <option value="-">-</option>
                    <option value="acc">{{localize "KG.MartialAttack"}}</option>
                    <option value="cnj">{{localize "KG.MagicAttack"}}</option>
                    {{/select}}
                  </select>
                </td>
                
                <th><span>{{localize "KG.Active"}}</span></th>
                <td><input type="checkbox" name="system.active.state" {{#if system.active.state}} checked {{/if}}></td>
                <th><span>{{localize "KG.DisableTiming"}}</span></th>
                <td>
                  <select name="system.active.disable" data-dtype="String">
                    {{#select system.active.disable}}
                    <option value="-">-</option>
                    <option value="notCheck">{{localize "KG.NotCheck"}}</option>
                    <option value="damage">{{localize "KG.AfterDamage"}}</option>
                    <option value="reduce">{{localize "KG.AfterReduce"}}</option>
                    <option value="round">{{localize "KG.AfterRound"}}</option>
                    <option value="battle">{{localize "KG.AfterBattle"}}</option>
                    {{/select}}
                  </select>
                </td>
                
              </tr>
              
              <tr>
                <th></th>
                <td></td>
                
                <th><span>{{localize "KG.Used"}}</span></th>
                <td><input type="number" class="checkbox-input" name="system.used.state" value="{{system.used.state}}" {{#ifEquals system.used.disable "notCheck"}} disabled {{/ifEquals}}></td>
                <th><span>{{localize "KG.ResetTiming"}}</span></th>
                <td>
                  <select name="system.used.disable" data-dtype="String">
                    {{#select system.used.disable}}
                    <option value="-">-</option>
                    <option value="notCheck">{{localize "KG.NotCheck"}}</option>
                    <option value="round">{{localize "KG.AfterRound"}}</option>
                    <option value="battle">{{localize "KG.AfterBattle"}}</option>
                    <option value="session">{{localize "KG.AfterSession"}}</option>
                    {{/select}}
                  </select>
                </td>
                
              </tr>
            </table>
            
            <div>
             
            </div>

          </div>
          <header class="attributes-header flexrow">
              <span class="attribute-key">{{localize "KG.Attributes"}}</span>
              <span class="attribute-value">{{localize "KG.Value"}}</span>
              <a class="attribute-control" data-action="create" data-pos="main" data-type="attributes"><i class="fas fa-plus"></i></a>
          </header>
    
          <ol class="attributes-list">
          {{#each system.attributes as |attr key|}}
              <li class="attribute flexrow" data-attribute="{{key}}">
                  <select class="attribute-key" name="system.attributes.{{key}}.key" data-dtype="String">
                    {{#select key}}
                    <option value="-">-</option>
                    <option value="hp">{{localize "KG.HP"}}</option>
                    <option value="acc">{{localize "KG.ACC"}}</option>
                    <option value="eva">{{localize "KG.EVA"}}</option>
                    <option value="cnj">{{localize "KG.CNJ"}}</option>
                    <option value="res">{{localize "KG.RES"}}</option>
                    <option value="ins">{{localize "KG.INS"}}</option>
                    <option value="pd">{{localize "KG.PD"}}</option>
                    <option value="md">{{localize "KG.MD"}}</option>
                    <option value="init">{{localize "KG.Init"}}</option>
                    <option value="armor">{{localize "KG.Armor"}}</option>
                    <option value="barrier">{{localize "KG.Barrier"}}</option>
                    <option value="str">{{localize "KG.STR"}}</option>
                    <option value="str_roll">{{localize "KG.STRRoll"}}</option>
                    <option value="agi">{{localize "KG.AGI"}}</option>
                    <option value="agi_roll">{{localize "KG.AGIRoll"}}</option>
                    <option value="int">{{localize "KG.INT"}}</option>
                    <option value="int_roll">{{localize "KG.INTRoll"}}</option>
                    <option value="wil">{{localize "KG.WIL"}}</option>
                    <option value="wil_roll">{{localize "KG.WILRoll"}}</option>
                    <option value="lck">{{localize "KG.LCK"}}</option>
                    <option value="lck_roll">{{localize "KG.LCKRoll"}}</option>
                    <option value="base">{{localize "KG.BasicRank"}}</option>
                    <option value="rank">{{localize "KG.AddRank"}}</option>
                    <option value="add">{{localize "KG.AddDamage"}}</option>
                    <option value="reduce_armor">[{{localize "KG.DamageReduce"}}] {{localize "KG.AddArmor"}}</option>
                    <option value="reduce_barrier">[{{localize "KG.DamageReduce"}}] {{localize "KG.AddBarrier"}}</option>
                    <option value="reduce_damage">[{{localize "KG.DamageReduce"}}] {{localize "KG.DamageReduce"}}</option>
                    <option value="reduce_half">[{{localize "KG.DamageReduce"}}] {{localize "KG.Half"}}(1)</option>
                    <option value="reduce_quarter">[{{localize "KG.DamageReduce"}}] {{localize "KG.Quarter"}}(1)</option>
                    {{/select}}
                  </select>

                  <input class="attribute-value" type="text" name="system.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
                  <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
              </li>
          {{/each}}
          </ol>
          
      </div>

      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-group="primary" data-tab="target">
          <div>
            <table>
              <tr>
                <th><span>{{localize "KG.Target"}}</span> </th>
                <td><input type="checkbox" name="system.getTarget" {{#if system.getTarget}} checked {{/if}}></td>
                
                <th><span>{{localize "KG.DisableTiming"}}</span></th>
                <td>
                  <select name="system.effect.disable" data-dtype="String">
                    {{#select system.effect.disable}}
                    <option value="-">-</option>
                    <option value="notCheck">{{localize "KG.NotCheck"}}</option>
                    <option value="damage">{{localize "KG.AfterDamage"}}</option>
                    <option value="reduce">{{localize "KG.AfterReduce"}}</option>
                    <option value="round">{{localize "KG.AfterRound"}}</option>
                    <option value="battle">{{localize "KG.AfterBattle"}}</option>
                    {{/select}}
                  </select>
                </td>
                
              </tr>

            </table>
            
            <div>
             
            </div>

          </div>
          <header class="attributes-header flexrow">
              <span class="attribute-key">{{localize "KG.Attributes"}}</span>
              <span class="attribute-value">{{localize "KG.Value"}}</span>
              <a class="attribute-control" data-action="create" data-type="attributes" data-pos="sub"><i class="fas fa-plus"></i></a>
          </header>
    
          <ol class="attributes-list">
          {{#each system.effect.attributes as |attr key|}}
              <li class="attribute flexrow" data-attribute="{{key}}">
                  <select class="attribute-key" name="system.effect.attributes.{{key}}.key" data-dtype="String">
                    {{#select key}}
                    <option value="-">-</option>
                    <option value="hp">{{localize "KG.HP"}}</option>
                    <option value="acc">{{localize "KG.ACC"}}</option>
                    <option value="eva">{{localize "KG.EVA"}}</option>
                    <option value="cnj">{{localize "KG.CNJ"}}</option>
                    <option value="res">{{localize "KG.RES"}}</option>
                    <option value="ins">{{localize "KG.INS"}}</option>
                    <option value="pd">{{localize "KG.PD"}}</option>
                    <option value="md">{{localize "KG.MD"}}</option>
                    <option value="init">{{localize "KG.Init"}}</option>
                    <option value="armor">{{localize "KG.Armor"}}</option>
                    <option value="barrier">{{localize "KG.Barrier"}}</option>
                    <option value="str">{{localize "KG.STR"}}</option>
                    <option value="str_roll">{{localize "KG.STRRoll"}}</option>
                    <option value="agi">{{localize "KG.AGI"}}</option>
                    <option value="agi_roll">{{localize "KG.AGIRoll"}}</option>
                    <option value="int">{{localize "KG.INT"}}</option>
                    <option value="int_roll">{{localize "KG.INTRoll"}}</option>
                    <option value="wil">{{localize "KG.WIL"}}</option>
                    <option value="wil_roll">{{localize "KG.WILRoll"}}</option>
                    <option value="lck">{{localize "KG.LCK"}}</option>
                    <option value="lck_roll">{{localize "KG.LCKRoll"}}</option>
                    <option value="base">{{localize "KG.BasicRank"}}</option>
                    <option value="rank">{{localize "KG.AddRank"}}</option>
                    <option value="add">{{localize "KG.AddDamage"}}</option>
                    <option value="reduce_armor">[{{localize "KG.DamageReduce"}}] {{localize "KG.AddArmor"}}</option>
                    <option value="reduce_barrier">[{{localize "KG.DamageReduce"}}] {{localize "KG.AddBarrier"}}</option>
                    <option value="reduce_damage">[{{localize "KG.DamageReduce"}}] {{localize "KG.DamageReduce"}}</option>
                    <option value="reduce_half">[{{localize "KG.DamageReduce"}}] {{localize "KG.Half"}}(1)</option>
                    <option value="reduce_quarter">[{{localize "KG.DamageReduce"}}] {{localize "KG.Quarter"}}(1)</option>
                    {{/select}}
                  </select>

                  <input class="attribute-value" type="text" name="system.effect.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="Number"/>
                  <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
              </li>
          {{/each}}
          </ol>
          
      </div>

  </section>

</form>
