
@import "https://fonts.googleapis.com/css2?family=Do+Hyeon";

body {
	font-family: 'Do Hyeon', Signika, sans-serif;
	font-size: 15px;
}

.kamigakari {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}

.kamigakari .rollable-ability, .kamigakari .rollable--damage, .kamigakari .spirit-dice, .kamigakari .dice-image, .kamigakari .echo-item, .kamigakari .hp-label, .kamigakari .spirit-label {
  cursor: pointer;
}

.kamigakari .width-100 {
  width: 100%;
}

.kamigakari .margin-top-10 {
  margin-top: 10px;
}

.kamigakari .bold {
  font-weight: bold;
}

.kamigakari .title {
  color: #2d3748;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.kamigakari .level-box {
  text-align: right;
  font-weight: bold;
}

.kamigakari .level-box input {
  text-align: center;
  width: 15%;
}

.kamigakari .dice-select {
   filter: invert(20%) sepia(85%) saturate(415%) hue-rotate(94deg) brightness(70%) contrast(100%);
   width:45px;
   height:45px;
}

.kamigakari .dice-change {
  margin: 4px 0;
  background: #c2c2c2;
}

.kamigakari .dice-viewer {
    border: 3px solid #2d3748;
    padding: 4px;
    margin-bottom: 5px;
}

.kamigakari .sheet-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.kamigakari .sheet-wrapper .sheet-header {
  width: 101%;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  margin-bottom: 10px;
  max-height: 80px;
  min-height: 50px;
}

.kamigakari .sheet-header {
  background: #2d2d2d;
  color: #fff;
}

.kamigakari .sheet-header .sheet-header__fields {
  display: webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.kamigakari .sheet-header .input--title {
  flex: 2;
}

.kamigakari .sheet-header input {
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 0;
}

.kamigakari .sheet-header input {
  color: #fff;
  border-bottom: 2px solid #fff;
  margin: 0 10px;
  font-size: 18px;
  height: 32px;
  line-height: 32px;
}



.kamigakari .sheet-header .flex-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-right: 48px;
  margin-right: 10px;
  text-align: right;
}

.kamigakari .sheet-header .flex-item--xp {
  padding: 0;
  text-align: center;
}

.kamigakari  .sheet-header .flex-item label {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
}

.kamigakari  .sheet-header .flex-item--level input {
  color: #3d3d3d;
  background: #fff;
  border: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  flex: 100px 2;
}

.kamigakari .sheet-wrapper .sheet-look {
  -webkit-box-flex: 33%;
  -ms-flex: 33% 1 1;
  flex: 33% 1 1;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  max-width: 33%;
  -webkit-transition: max-width ease-in-out 0.25s;
  -o-transition: max-width ease-in-out 0.25s;
  transition: max-width ease-in-out 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: calc(100% - 80px);
}

.kamigakari .sheet-wrapper .sheet-look.closed {
  max-width: 40px;
  overflow: hidden;
  padding: 0;
}

.kamigakari .sheet-wrapper .sheet-look.closed .cell--aesthetics {
  max-width: 0%;
  overflow: hidden;
}

.kamigakari .sheet-wrapper .sheet-look .toggle--look {
  -webkit-box-flex: 20px;
  -ms-flex: 20px 1 1;
  flex: 20px 1 1;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: transparent;
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  height: 225px;
}

.kamigakari .sheet-wrapper .sheet-look .toggle--look.closed {
  margin-left: 0;
}
.kamigakari .sheet-wrapper .sheet-look .toggle--look .fas {
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.kamigakari .sheet-wrapper .sheet-look .toggle--look.closed .fas {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.kamigakari .cell--detail {
  grid-column: span 3;
  text-align: center;
}

.kamigakari .cell--detail img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}

.kamigakari .sheet-wrapper .enermy-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  margin-bottom: 10px;
}

.kamigakari .sheet-wrapper .sheet-main {
  -webkit-box-flex: 66%;
  -ms-flex: 66% 1 1;
  flex: 66% 1 1;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  height: calc(100% - 80px);
}

.kamigakari .sheet-wrapper .sheet-attributes {
  display: grid;
  grid-column: span 16;
  grid-template-columns: repeat(16, minmax(0, 1fr));
  gap: 0px 10px;
  margin: 0 0 10px 0;
  padding: 0;
}

.kamigakari .sheet-wrapper .sheet-basic {
  display: grid;
  grid-column: span 16;
  grid-template-columns: repeat(16, minmax(0, 1fr));
  gap: 0px 10px;
  margin: 0 0 10px 0;
  padding: 0;
}

.kamigakari .sheet-wrapper .sheet-attributes .cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.kamigakari .sheet-wrapper .cell .cell--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  color: #2d3748;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.kamigakari .sheet-wrapper .sheet-attributes .cell .cell--title {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  background: #2d3748;
  color: #fff;
  padding: 5px;
  height: 34px;
}

.kamigakari .sheet-wrapper .sheet-attributes .cell--title .attribute-icon {
  top: 1px;
  right: 5px;
  bottom: 0;
  text-align: center;
  margin: 0;
  font-size: 30px;
  z-index: 0;
  opacity: 0.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kamigakari .sheet-attributes .cell--counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.kamigakari .sheet-attributes .add-circle {
  position: absolute;
  top: 36px;
  width: 35px;
  height: 35px;
  right: 5px;
  border: 2px solid;
  border-radius: 50%;
}

.kamigakari .sheet-attributes .slash {
  margin: 0 10px;
  padding-top: 4px;
}

.kamigakari .sheet-attributes input {
  background: white;
  margin-bottom: 8px;
  text-align: center;
}

.kamigakari .sheet-attributes .cell--basic, .kamigakari .sheet-attributes .cell--overflow {
  grid-column: span 5;
}

.kamigakari .sheet-attributes .cell--hp, .kamigakari .sheet-attributes .cell--overflow-label {
  grid-column: span 10;
}

.kamigakari .sheet-attributes .cell--damage, .kamigakari .sheet-attributes .cell--spirit-list {
  grid-column: span 16;
}

.kamigakari .sheet-attributes .cell--spirit-box {
  grid-column: span 8;
}

.kamigakari .sheet-attributes .cell--main-stat {
  grid-column: span 13;
}

.kamigakari .sheet-attributes .cell--overflow input {
  height: 36px;
  width: 36px;
  margin: 0 5px;
  text-align: center;
}

.kamigakari .sheet-attributes .cell--overflow button {
  padding: 1px 13px;
  width: 36px;
  height: 36px;
}

.kamigakari .sheet-attributes .dice-holder-icon {
  height: 100%;
  vertical-align: middle;
}

.kamigakari .sheet-attributes .spirit-list {
  width: 100%;
  text-align: center;
}

.kamigakari .sheet-attributes .spirit-list img {
  margin: 0 4px;
}

.kamigakari .sheet-wrapper .cell--spirit {
  grid-column: span 6;
  text-align: center;
}

.kamigakari .sheet-wrapper .cell--sub-stat {
  grid-column: span 16;
  padding: 0;
}

.kamigakari .sheet-wrapper .cell--dice {
  margin: 0;
  width: 40px;
  font-weight: bold;
  text-align: center;
}

.kamigakari .sheet-wrapper .main-ability-list {
  display: grid;
  grid-column: span 15;
  grid-template-columns: repeat(15, minmax(0, 1fr));
  gap: 0px 10px;
  margin: 0px 0 14px 0;
  padding: 0;
}

.kamigakari .sheet-wrapper .sub-ability-list {
  display: grid;
  grid-column: span 14;
  grid-template-columns: repeat(14, minmax(0, 1fr));
  gap: 0px 10px;
  margin: 0px 0 14px 0;
  padding: 0;
}

.kamigakari .sheet-wrapper .main-ability-list .cell--ability {
  grid-column: span 3;
  padding: 0;
}

.kamigakari .sheet-wrapper .sub-ability-list .cell--ability {
  grid-column: span 2;
  padding: 0;
}

.kamigakari nav.tabs {
  border-bottom: 1px solid;
  border-top: 0;
  padding: 0;
}

.kamigakari .tabs .item {
  border: 1px solid;
  background: #bcc8de;
  border-radius: 4px 4px 0 0;
  margin: 0 5px -1px;
  flex: 1;
}

.kamigakari .tabs .item.active {
  background: #fff;
  color: #000;
  border-bottom: 0;
  text-shadow: none;
  font-weight: bold;
}

.kamigakari .item-addon {
  text-align: right;
  font-size: 17px;
  font-weight: bold;
  flex: initial;
}

.kamigakari .use-button {
  width: auto;
  height: 30px;
  margin: 0;
  line-height: 0;
}

.kamigakari .icon-button {
  width: 30px;
  height: 30px;
  margin: 0;
  line-height: 0;
}

.kamigakari .sheet-wrapper .sheet-body .tab, .kamigakari .sheet-wrapper .sheet-body .sheet-tab {
  height: 100%;
}

.kamigakari .sheet-wrapper .sheet-body .sheet-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 10px 0;
  padding: 0;
}

.kamigakari .sheet-wrapper .cell--spirit-burn {
  display: flex;
  border: 2px solid #555555;
  padding: 10px;
  border-radius: 5%;
}

.kamigakari .sheet-wrapper .spirit-butn-name {
  flex: 4;
  margin: auto;
  font-weight: bold;
  font-size: 1.5em;
  color: #2d3748;
}

.kamigakari .sheet-wrapper .cell--spirit-burn button {
  flex: 1;
  white-space: nowrap;
}

.kamigakari .sheet-tab .cell--bio {
  -webkit-box-flex: 100;
  -ms-flex: 100;
  flex: 100;
}

.kamigakari .cell--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  color: #2d3748;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.kamigakari .editor, .kamigakari .editor-content {
  min-height: 350px;
  resize: none;
}

.dice-result .dice {
  display: flex;
  align-items: center;
}

.dice-result .dice-rolls {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
}

.dice-result .part-total {
  font-size: 26px;
}

.dice-result .original .dice {
  display: block;
}

.dice-result .original .dice-rolls {
  display: block;
  flex: none;
}

.dice-result .original .part-total {
  font-size: var(--font-size-16);
}

.kamigakari .item-controls {
  text-align: right;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
}

.kamigakari .item-controls .white-btn {
  border: none;
}

.kamigakari .item-controls .white-btn * {
  color: white;
}

.kamigakari .item-form .sheet-header {
  margin-bottom: 10px;
}

.kamigakari .item-form .sheet-header, .kamigakari .item-form .sheet-navigation {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
}

.kamigakari .flexrow {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.kamigakari .sheet-header h1, .kamigakari .sheet-header input {
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 0;
}

.kamigakari .sheet-header h1 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.kamigakari .sheet-header input {
  color: #fff;
  border-bottom: 2px solid #5b7094;
  margin: 0 10px;
  font-size: 18px;
  height: 32px;
  line-height: 32px;
}

.kamigakari .sheet-wrapper select {
  background: white;
  text-align-last: center;
  margin-bottom: 8px;
}

.kamigakari .sheet-wrapper .sheet-attributes .cell--class {
  grid-column: span 8;
  padding: 0;
}

.kamigakari .sheet-wrapper .sheet-attributes .cell--talent, .kamigakari .sheet-wrapper .sheet-attributes .cell--formula {
  grid-column: span 4;
  padding: 0;
}

.kamigakari .sheet-wrapper .sheet-attributes .cell--formula input, .kamigakari .sheet-wrapper .sheet-attributes .cell--formula select {
  height: 34px;
}

.kamigakari .items-list .item {
  padding: 10px 0;
}

.kamigakari .item-description {
  display: none;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 100%;
}

.kamigakari .item-name {
  font-size: 18px;
  font-weight: bold;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
}

.kamigakari .item-label:hover::after {
  width: 100%;
}

.kamigakari .item-label::after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  margin-top: 2px;
  border-bottom: 2px solid;
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.kamigakari .attributes-header {
  padding: 5px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}

.kamigakari .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.kamigakari .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}

.kamigakari a.attribute-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}

.kamigakari .attribute-effect {
  flex-grow: 4;
  font-size: 12px;
}

.kamigakari .effect-column {
  align-items: flex-end;
}

.kamigakari .additional {
  border: 2px solid #343434;
  padding: 6px;
  margin-bottom: 10px;
  text-align: center;
}

.kamigakari .cell-G {
  flex: 5;
}

.kamigakari .checkbox-input {
  width: 22px;
  height: 22px;
  margin: 3px 5px;
  text-align: center;
}

.talent-bar {
  z-index: 70;
  position: fixed;
  bottom: 7px;
  right: 310px;
  display: flex;
  flex-direction: row;
  flex: 0 0 100px;
  flex-wrap: wrap;
}

.talent-bar .item {
  width: 300px;
  position: relative;
}

.talent-bar .remove-bar {
  position: absolute;
  width: calc(100% - 12px);
}

.talent-bar .remove-bar .remove-btn {
  float: right;
}

.cell__title {
  display: flex;
  padding-bottom: 4px;
}

.cell__title img {
  margin-right: 10px;
}

.cell__title .title {
  flex: 1;
  padding-top: 4px;  
}

.message .dice {
  margin-bottom: 4px;
}

.message .influence {
  margin-left: 4px;
}
